
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet" href="{{url_for('static',filename='chat.css')}}">
    <title>ChatBot</title>
</head>
<body>
    <nav >
        <select onchange="changeTheme(this.value)" id="theme-selector">
            <option value="{{url_for('static',filename='chat.css')}}">DEFAULT</option>
            <option value="{{ url_for('static', filename='green.css') }}">GREEN</option>
            <option value="{{ url_for('static', filename='red.css') }}">RED</option>
            <option value="{{ url_for('static', filename='dyami.css') }}">DYAMI</option>
        </select>
    </nav>
    
    <div class="container">
        <h1>PMjay Bot</h1>
            <form id="chat-form" action="/chat" method="POST">
                <input type="text" name="message" placeholder="Ask anything..." required>
                <button type="submit">Ask</button>
            </form>
        
    </div>
    <script src="{{url_for('static',filename='chat.js')}}"></script>
    
</body>
</html>
